body {
  margin: 0;
  padding: 0;
  background-color: #0c1a1a;
  color: #f5e8c7;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

header {
  padding: 2rem;
  background-color: #142828;
  border-bottom: 1px solid #ccc;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.2rem;
  color: #d4af37;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

#tree {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prophet {
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem 2rem;
  margin: 0.5rem 0;
  border: 1px solid #444;
  border-radius: 8px;
  width: fit-content;
}

.arrow {
  font-size: 2rem;
  margin: 0.2rem;
}

#sources {
  margin-top: 3rem;
  padding-bottom: 2rem;
}

#sources h3 {
  color: #d4af37;
  font-size: 1.4rem;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 0.3rem;
}
